body{
    background-color: rgb(236, 255, 127);
}
.header{
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
}
p,h2{
    text-align: center;
    color: rgb(72, 1, 105);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item img{
    border-radius: 50px;
    border: solid green ;
}